h2 {
  font-size: 1.2rem;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
button,
nav {
  font-family: oswald, sans-serif;
}

nav {
  font-size: 25px;
}

p {
  font-family: "Montserrat", sans-serif;
}

.my-container {
  max-width: 1440px;
  margin: 0 auto;
}

header .my-container {
  background: url("../../images/main-image.webp") no-repeat 67% 0;
  background-size: cover;
}

.header-content {
  padding-top: 250px;
  padding-bottom: 80px;
}

.header-content button {
  background-color: #e8631c;
}

.px-80 {
  padding-left: 80px;
  padding-right: 80px;
}

.py-105 {
  padding-top: 105px;
  padding-bottom: 105px;
}

.f-size-30 {
  font-size: 30px;
}

.f-size-75 {
  font-size: 75px;
}

#dance-toures {
  background: #e8631c url("../../images/background-shape.png") no-repeat 0 142%;
}

#dance-toures .toures-detail {
  max-width: 372px;
  width: 100%;
}

#dance-toures .toures-detail img {
  object-fit: contain;
  margin-bottom: -1px;
}

#pricing {
  background: url("../../images/price-bg-top.png") no-repeat left 160%, url("../../images/price-bg-bottom.png") no-repeat right -160%;
}

#pricing .pricing-detail-content {
  background: #e8631c;
  width: 100%;
  max-width: 372px;
}

#pricing .pricing-detail button {
  font-size: 25px;
}

#promo {
  background-color: #e8631c;
}

#promo img {
  object-fit: contain;
  margin-top: -1px;
}

#promo .amazing {
  background-color: #e8631c;
}

#promo .amazing:nth-of-type(2) {
  background: url("../../images/price-bg-bottom.png") no-repeat right 360%, url("../../images/amazing-dance-bg-bottom.png") no-repeat right -205%;
  background-size: cover, cover;
}

#promo .amazing:nth-of-type(2) button {
  font-size: 25px;
}

#promo .amazing > div {
  height: 100%;
}

#stats {
  padding-top: 205px;
  padding-bottom: 205px;
}

#stats .stats-detail p {
  font-size: 42px;
}

#below-stats {
  position: relative;
}

#below-stats .below-stats-content > div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#below-stats .below-stats-content > div p {
  font-size: 50px;
}

#below-stats .below-stats-content > div h2 {
  font-size: 58px;
}

#subscribe {
  background: url("../../images/sub-bg-left.png") no-repeat left center, url("../../images/sub-bg-right.png") no-repeat right center;
  background-color: #e8631c;
}

#subscribe .input-group {
  width: 50%;
}

@media (max-width: 1200px) {
  #subscribe .input-group {
    width: 75%;
  }
  nav {
    font-size: 18px;
  }
  .px-80 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .py-105 {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  p {
    font-size: 22px !important;
  }
  .f-size-75 {
    font-size: 50px !important;
  }
}

@media (max-width: 991px) {
  .px-80 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .py-105 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  nav {
    font-size: 16px;
  }
  p {
    font-size: 18px !important;
  }
  .f-size-75 {
    font-size: 35px !important;
  }
  h3 {
    font-size: 22px !important;
  }
}

@media (max-width: 576px) {
  #subscribe .input-group {
    flex-direction: column;
    width: 75%;
  }
  #subscribe .input-group input {
    width: 100%;
  }
  #subscribe .input-group .input-group-append {
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
  }
  p {
    font-size: 16px !important;
  }
  .f-size-75 {
    font-size: 25px !important;
  }
  h3 {
    font-size: 20px !important;
  }
}
