:root{
    --primary-color: #fc888d;
}
.main-wrapper{
    background-image: url(https://ehmasuk.github.io/xypo/img/background.png);
}
.square-xs{
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
}
.square{
    width: 15px;
    height: 15px;
    background-color: var(--primary-color);
}
.long-bar{
    height: 3px;
    width: 50px;
    background-color: var(--primary-color);
}
.small-bar{
    height: 3px;
    width: 25px;
    background-color: var(--primary-color);
}
.testimonial::before{
    content: "--";
    font-weight: 600;
}