footer {
  background-color: #dbdcdd; }

header {
  background-color: #008080; }

@keyframes discoverButton {
  from {
    left: 0px; }
  to {
    left: 8px; } }
@keyframes homePrdcarsousel {
  0% {
    transform: translateY(50px); }
  100% {
    transform: translateY(0); }
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@media (min-width: 1200px) {
  .my-container,
  .width-80 {
    width: 90%; }

  .category-tabs .tab-content .tab-pane .col-xl-2 {
    flex: 0 0 20%;
    max-width: 20%; } }
@media (max-width: 1199px) {
  .container-fluid {
    width: 95%; } }
@media (max-width: 767) {
  #carouselhomediscountprd
  .carousel-inner
  .carousel-item
  .row
  .col-lg-2:nth-child(1n + 3) {
    display: none; } }
h2 {
  font-size: 1.2rem; }

body {
  font-family: Poppins, sans-serif;
  font-size: 14px; }

.compare-badge {
  right: -10px; }

a {
  color: #000;
  text-decoration: none; }

#header-banner img {
  object-position: left;
  width: 100%;
  height: 458px;
  object-fit: cover; }

.prd-title p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 42px; }

a:hover,
.prd-tab-home li .active {
  color: #f4a460 !important;
  text-decoration: none; }

.top-cate-title a {
  transition: background 0.5s; }
.top-cate-title:hover a {
  color: #fff !important; }

.blog-img {
  max-width: 500px;
  max-height: 500px;
  overflow: hidden; }

.discover-btn .fa-sharp {
  position: relative;
  animation: discoverButton 1s infinite;
  animation-direction: alternate;
  -webkit-animation: discoverButton 1s infinite;
  -webkit-animation-direction: alternate; }

#home-prd-carousel {
  animation: homePrdcarsousel 1s 1;
  -webkit-animation: homePrdcarsousel 1s 1; }

.prd-card .prd-img-action-btn .action-btns {
  visibility: hidden;
  opacity: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  transition: bottom 0.3s, visibility 0.6s, opacity 0.6s; }
.prd-card .prd-img-action-btn .prd-img img {
  height: 185px;
  object-fit: contain; }
.prd-card:hover .prd-img-action-btn .action-btns {
  bottom: 7px;
  opacity: 1;
  display: block;
  visibility: visible; }

.blog-img img,
.home-right-banner img {
  transform: scale(1);
  transition: 1s; }
  .blog-img img:hover,
  .home-right-banner img:hover {
    transform: scale(1.1); }

.home-right-banner {
  max-width: 600px;
  max-height: 200px;
  overflow: hidden; }

.main-search {
  border-radius: 1.3rem;
  background-color: #fff;
  box-shadow: 0 0 1rem #57a5a5; }
  .main-search input:focus,
  .main-search select:focus,
  .main-search button:focus {
    outline: 0;
    box-shadow: none; }

#sidebarprd-next,
#sidebarprd-prev {
  outline: 0;
  box-shadow: none; }

.contry-flag {
  width: 25px;
  height: 25px; }

.contry-flag-popup {
  width: 35px;
  height: 100%; }

#carouselhomediscountprd {
  margin-top: -164px; }
  #carouselhomediscountprd .carousel-control-next,
  #carouselhomediscountprd .carousel-control-prev {
    position: inherit; }

.discount.position-absolute {
  top: 0; }

.home-right .category-tabs:last-child {
  margin-bottom: 0 !important; }

.my-shadow {
  box-shadow: 0px 3px 1px -2px #00000033, 0px 2px 2px 0px #00000024, 0px 1px 5px 0px #0000001f !important; }

.prd-sidebar .prd-img img {
  height: 100px;
  object-fit: contain; }

.best-selling-detail {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6); }

.top-cate-title {
  height: 80px; }

/*# sourceMappingURL=site.css.map */
