@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$primary-btn: linear-gradient(90deg, rgb(226, 123, 5) 0%, rgba(219, 5, 99, 1) 100%) !important;
$link: rgb(37, 26, 26);

body {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    background: url("/front/images/bg.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

h2 {
    font-size: 2.2rem;
}

a {
    color: $link
}

%hover-btn {
    background-image: $primary-btn;
    color: #fff !important;
}

.nav-item {
    &>.active {
        @extend %hover-btn;
    }

    &:hover .nav-link {
        @extend %hover-btn;
    }
}

.user-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;

    img {
        object-fit: contain;
        object-position: top;
    }
}

.social-links {
    .btn {
        &:hover {
            @extend %hover-btn;
            transition: all 0s;
        }
    }
}

.tab-title {
    h2 {
        position: relative;

        &:after {
            content: "";
            width: 200px;
            height: 2px;
            background: red;
            position: absolute;
            top: 50%;
            left: calc(100% + 1rem);
        }
    }
}

.p-info-icon {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;

    &:hover {
        @extend %hover-btn;
    }
}

.my-services {
    &>.row {
        row-gap: 1rem;
    }
    .col-sm-6{
        &:nth-child(1) {
            .service-detail {
            background-color: #FDEDF2;

            .service-icon {
                color: #EB477B;
            }
        }
    }
    }
    .col-sm-6{
        &:nth-child(2) {
            .service-detail {
            background-color: #FCF1EE;

            .service-icon {
                color: #DA542F;
            }
        }
    }
    }
    .col-sm-6{
        &:nth-child(3) {
            .service-detail {
            background-color: #F2F1F9;

            .service-icon {
                color: #5448AD;
            }
        }
    }
    }
    .col-sm-6{
        &:nth-child(4) {
            .service-detail {
            background-color: #fce7f9;

            .service-icon {
                color: #e811f0;
            }
        }
    }
    }
    .service-icon {
        font-size: 3.5rem;
        display: flex;
    }
}