:root{
    --primary-color: #F8EE15;
    --primaryu-color-hover: #ebe107;
    --secondary-color: #f9d16a;
    --sec-light-color: ;
    --anchor-color: #212529;
    --secondary-color-lt: #FFF5C1;
    --footer-text: #FDDF93;
    --footer-link-hover: #f5c959;
    --kc-font-color: #FF5e03;
    --bg-success: #198754;
}
body{
    /* font-family: "Poppins", sans-serif; */
    font-family: "Roboto", sans-serif;

    /* background: linear-gradient(180deg, rgba(255, 233, 37, 0.2) 3.41%, rgba(248, 162, 19, 0) 100%); */
}
::selection{
    background: var(--primary-color);
}
.bg-primary-kc{
     background-color: var(--primary-color);
}
.bg-secondary-kc{
    background: var(--secondary-color);
}
.secondary-color-lt{
    background: var(--secondary-color-lt);
}
.kc-border-light{
    border: 1px solid lightgray;
}
.kc-btn {
    border: solid 2px #FF6B00;
    color: #FF6B00 !important;
    font-weight: 600;
    padding: 0.25rem 1.5rem !important;
    border-radius: 0.6rem;
    transition: all .5s ease-out;
}
.kc-btn:hover{
    background: #FF6B00;
    border: solid 2px #FF6B00;
    color: #fff !important;
}
.text-kc{
    color: var(--kc-font-color);
}
.btn-kc-outline-rounded{
    border: 1px solid var(--kc-font-color);
    border-radius: 20px;
    transition: background .2s ease-out;
}
.btn-kc-outline-rounded:hover{
    border: 1px solid var(--kc-font-color);
    background: var(--kc-font-color);
    color: #fff;
    border-radius: 20px;
}
.viewAll-btn {
    width: 200px;
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
    font-weight: 600;
    transition: all .5s ease-out;
}
.addFavCode, .removeFavCode{
    cursor: pointer;
}
.addFavIcons, .removeFavIcon{
    top: -1.3rem;
    left: -0.5rem;
}
.addFavCodeHover{
    display: none;
}
.addFavIcons:hover .addFavCodeHover{
    display: block;
    cursor: pointer;
}
.viewAll-btn:hover{
    background: var(--primaryu-color-hover);
    border: 2px solid var(--primaryu-color-hover);
}
.page-heading h1 {
    font-size: 1.8rem;
}
.page-link:hover, .page-link:focus{
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
    color: #fff !important;
    box-shadow: none;
}
a{
    text-decoration: none !important;
    color: var(--anchor-color) !important;
}
a:hover{
    color: #15171a;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 400;
}
.my-shadow {
    box-shadow: 0px 3px 1px -2px #00000033, 0px 2px 2px 0px #00000024, 0px 1px 5px 0px #0000001f !important;
}
.fw-600{
    font-weight: 600;
}
.form-control:focus {
    background-color: #fff;
    border-color: #fed986;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(253 235 13 / 35%);
}
select option:hover{
    background-color: var(--primary-color) !important;
}
.header-top{
    background-color: var(--primary-color);
}
.dropdown-item{
    position: relative;
}
ul.dropdown-menu > li:hover > .dropdown-menu {
    display: block;
    left: 100%;
    top: 0;
}
.dropdown-toggle::after{
    border: none!important;
    vertical-align: 0;
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    font-weight: bold;
}
#navCategory .dropdown-toggle::after {
    position: absolute;
    right: .5rem;
    transition: transform .2s ease-out;
}
#navCategory > .dropdown-toggle::after{
    right: 0;
}
#navCategory li:hover .dropdown-toggle::after{
    transform: rotate(-90deg);
}
.site-logo img {
    max-width: 190px;
    width: 100%;
}
.searchbar{
    border: 1px solid #FFA800 !important;
    border-radius: 50px;
}
.searchbar input:focus{
    outline: none;
    border: 0;
}
.flag-icon{
    width: 100%;
    max-width: 35px;
    border-radius: 3px;
}
/* .header-hero img {
    height: 185px;
    object-fit: cover;
} */
.brand-slider {
    overflow: hidden;
}
.brand-card-slider{
    flex: 0 0 8%;
}
.category-cards {
    gap: 1rem;
}
.top-brand-cards{
    border: 1px solid lightgray;
    border-radius: 2rem;
}
.brand-detail {
    border: 4px solid #ff6b0029;
    border-radius: 1.5rem;
}
.brand-title {
    font-size: 1rem;
    font-weight: 600;
}
.brand-cashback{
    color: #FF5e03;
}
.subscribe-btn {
    border: 2px solid var(--footer-text);
    background: transparent;
    color: #FF5e03;
    width: 100%;
    border-radius: 0.5rem;
    font-weight: 900;
    padding: .25rem 0;
}
.footer-text{
    color: var(--footer-text);
}
footer a, .footer-links h5, #footerAccordion .accordion-button{
    color: var(--footer-text) !important;
}
#footerAccordion .accordion-button:focus{
    box-shadow: none;
}
#footerAccordion .accordion-button::after{
    color: var(--footer-text);
}
.footer-links a{
    transition: color .2s ease-out;
}
.footer-links a:hover{
    color: var(--footer-link-hover) !important;
}
/* .footer-outer {
    border: 2px solid var(--footer-text);
} */
#footer-terms-link{
    border-color: var(--footer-link-hover) !important;
}
.footer-links.app-links img {
    width: 140px;
}
.app-icon img{
    max-width: 150px;
}
.cbtr-text{
    white-space: nowrap;
}
.cbtr-time {
    padding: 0 1rem;
    border: 2px solid lightgray;
    border-radius: 24px;
    color: #FF5e03;
    background-color: #fff;
    white-space: nowrap;
}
.cb-tracking .cbtr-detail:not(:first-child) .cbtr-time:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: lightgray;
    top: 50%;
    left: -100%;
    z-index: -1;
}
.max-cb {
    border-bottom: 1px solid lightgrey;
}
.brand-logo img {
    width: 100%;
    max-width: 75px;
}
.similar-title{
    font-size: 1.2rem;
}
.power-cb-cards{
    gap: 1rem;
    overflow: hidden;
}
.power-cb-cards .owl-prev, .power-cb-cards .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white !important;
    border: 1px solid lightgray !important;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 2rem !important;
    display: grid;
    place-content: center;
}
.power-cb-cards .owl-prev {
    left: 1rem;
}
.power-cb-cards .owl-next {
    right: 1rem;
}
.out-rating{
    font-size: 1.5rem;
}
.rate-bar {
    height: 15px;
    background: rgb(236, 235, 235);
    flex: 0 0 95%;
    margin-left: 1rem;
    border-radius: 8px;
    overflow: hidden;
}
.rate-bar::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: #FF6B00;
}
.user-img{
    width: 120px;
    height: 120px;
}
.user-img img {
    /* width: 100px;
    height: 100px; */
    object-fit: contain;
}
.review-card{
    border-bottom: 1px solid lightgrey;
}
#review{
    resize: none;
}
.add-rating{
    font-size: 1.5rem;
}
#uploadDropImg {
    border: 2px dotted lightgrey;
}
#uploadDropImg label{
    cursor: pointer;
}
.copy-code .copy-text {
    right: 0.7rem;
    bottom: 50%;
    transform: translateY(50%);
    cursor: pointer;
}
.copy-code .code-overlay {
    left: 2rem;
    bottom: 50%;
    transform: translateY(50%);
    height: 60%;
    background: var(--primary-color);
    width: 100px;
    border-radius: 20px;
}
.code-popup input {
    border-radius: 28px;
    border: 1px solid lightgrey;
}
button.modal-close {
    position: absolute;
    left: 14px;
    background: transparent;
    border: 0;
    font-size: 1.5rem;
}
.cbOffer-card img {
    width: 65px;
}
.cb-progress-circle, .wallet-progress-circle {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid lightgrey;
    border-radius: 50%;
}
.cb-fill .cb-progress-circle, .cb-fill .wallet-progress-circle{
    background: var(--bg-success);
    border: var(--bg-success);
    position: relative;
}
.cb-fill .cb-progress-circle::before, .cb-fill .wallet-progress-circle::before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: bold;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.cb-fill .cb-track-line {
    position: absolute;
    width: calc(100% - 2rem);
    height: 4px;
    background: var(--bg-success);
    left: 100%;
    top: 50%;
    transform: translateX(-50%);
}
.cb-fill.active .cb-progress-text, .cb-fill.active .wallet-progress-text{
    color: var(--bg-success);
}
.cb-fill .wallet-track-line {
    position: absolute;
    width: calc(100% - 2rem);
    /* height: 4px; */
    /* background: var(--bg-success); */
    border-top: 3px dotted var(--bg-success);
    left: 100%;
    top: 50%;
    transform: translateX(-50%);
}
.cb-progress-text, .wallet-progress-text {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}
.cb-brand-img{
    width: 80px;
}
.cb-categories{
    max-height: 350px;
    overflow: auto;
}
.filter-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.filter-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
.filter-check input:checked ~ .checkmark:after {
    display: block;
}
.filter-check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.filter-check input:checked ~ .checkmark {
    background-color: var(--primary-color);
}
.filter-check:hover input ~ .checkmark {
    background-color: var(--primaryu-color-hover);
  }
  .exit-card{
    width: 600px;
    border: 1px solid lightgray;
  }
  .cb-categories .brand-cb-card:nth-child(odd) {
    background-color: #f0f0f0;
  }
  .cbModalclose {
    left: 1rem;
}
.credit-card {
    background: linear-gradient(90deg, var(--secondary-color) 0%, var(--primary-color) 45%);
    width: 300px;
    height: 155px;
}
button#addBnkAcc {
    top: 0.25rem;
    right: 0.25rem;
    background: #fff;
    width: 2rem;
    height: 2rem;
}
#addAccount {
    inset: 0;
    background: #fff;
}
.inner-modal-footer{
    bottom: 0;
}
.user-setting > div {
    gap: 3rem;
}
.recent-transaction > div {
    min-width: 576px;
}
.cb-overviewCard{
    border-top: 5px solid;
}
.cb-overviewCard p:first-child{
    font-weight: 600;
    margin-bottom: .5rem;
}
.cb-overviewCard p:nth-child(2){
    height: 60px;
}
.total-pending p:first-child{
    color: #b74e4e;;
}
.total-approved p:first-child{
    color: #9c8d49;
}
.total-available p:first-child{
    color: #437987;
}
.cb-amount{
    border-top: 1px solid;
}
.pending-amount{
    border-top-color: #b74e4e;
}
.approved-amount{
    border-top-color: #9c8d49;
}
.available-amount{
    border-top-color: #437987;
}
.total-pending{
    background-color: #fff4f4;
    border-top-color: #b74e4e;
}
.total-approved{
    background-color: #fff9df;
    border-top-color: #9c8d49;
}
.total-available{
    background-color: #f2fcff;
    border-top-color: #437987;
}
#carouselUserAccount .carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: grey;
}
#carouselUserAccount .carousel-indicators li.active{
    background-color: rgb(65, 64, 64);
}
.social-icons > div {
    gap: 3rem;
}
.modal-logoIcon{
    width: 60px;
}
.plan-type{
    width: 130px;
}
.plan-type img{
    width: 50px;
}
.plan-name{
    background: #ffc121;
    color: #fff;
}
#silver-plan{
    background: linear-gradient(#2a92b5 0%, #047e8d 100%);
}
#gold-plan{
    background: linear-gradient(#45a1c6 0%, #2b93b6 100%);
}
#platinum-plan{
    background: linear-gradient(#45a1c6 0%, #556fac 100%);
}
#diamond-plan{
    background: linear-gradient(#674591 0%, #5b3393 100%);
}
.edit-profile button[type=submit]{
    border-radius: 20px;
}
.edit-profile input[type=radio]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.img-select {
    cursor: pointer;
    right: .5rem;
    bottom: 0.3rem;
}
.img-select label{
    font-size: 1.5rem;
    color: var(--primary-color);
    transition: color .2s ease-out;
}
.img-select label:hover{
    color: var(--primaryu-color-hover);
}
.gender-selector label{
    width: 110px;
    height: 40px;
  
}
.gender-selector label .gender-checkmark{
    inset: 0;
    background: grey;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: background .2s ease-out;
}
.gender-selector label input:checked + .gender-checkmark{
    background-color: #15171a;
}
.gender-selector label input:not(:checked):hover + .gender-checkmark{
    background: rgb(110, 110, 110);
}
.nav-userAcc li  a[aria-selected="true"], .dropdown-toggle.active{
    color: #1d92f9 !important
}
.payment-img{
    max-width: 165px;
}
.code-img img {
    min-width: 80px;
    width: 80px;
}
.code-title{
    flex: 1 1 70%;
}
.getcode-btn{
    flex: 0 0 15%;
}
.code-btn{
    text-wrap: nowrap;
}
.page-cover-img, .home-slideImg {
    min-height: 120px;
    object-fit: cover;
}
#useAccSidebar, .mobile-sidebar{
    overflow: auto;
}
.show-sidebar{
   left: 0 !important;
}
#sideCloseBtn {
    right: 10px;
    top: 5px;
}
.login-register .form-control {
    height: 50px;
    padding: 1rem 0.5rem;
}
.login-register .btn{
    padding: .7rem;
}
.login-register .input-group-text{
     border-color: var(--primary-color);
     background: var(--primary-color);
}
input#mobileNumber{
    border-left: 0;
}
@media screen and (max-width: 992px) {
    .cb-brand-img{
        width: 70px;
    }
    .recent-transaction {
        overflow-x: auto;
    }
}
@media screen and (max-width: 767px) {
    .cb-brand-img{
        width: 60px;
    }
    .sidebar-outer{
        position: fixed;
        inset: 0;
        background-color: #f8ee1538;
        display: none;
        opacity: 0;
        z-index: 999;
    }
    .mobile-sidebar{
        position: fixed;
        left: -100%;
        top: 0;
        height: 100vh;
        transition: left 2.5s ease-in-out;
        width: 300px;
        height: 100%;
        max-width: 300px;
        z-index: 999;
        border-radius: 0 !important;
        border-right: 1px solid #dee2e6;
        background-color: #fff;
        overflow: hidden;
    }
    .sidebar-header, .sidebar-body{
        padding: 1rem .5rem;
    }
    .sidebar-body{
        overflow: auto;
        max-height: 100%;
    }
    .sidebar-header{
        background: #212529;
        color: #fff;
    }
    .sidebar-header h5{
        margin-bottom: 0;
    }
    .mobileFilter{
        border: 1px solid #000;
        border-radius: .3rem;
    }
    .mobileFilter .col:not(:last-child) .filter-item{
        border-right: 1px solid #000;
    }
    .mobileFilter select{
        width: 100%;
        border: none;
        outline: 0;
        text-align: center;

    }
    .mobileFilter select:focus{
        border: none;
        outline: none;
        box-shadow: none;
    }
}
@media screen and (max-width: 576px){
    #cbHistory, #userWallet, #userAccTab{
        font-size: 11px;
    }
    .plan-type{
        flex: 0 0 30%;
    }
    .page-heading h1{
        font-size: 1.3rem;
    }
}