@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$primary-color: #006D5B !important;
$a_hover: #004135 !important;
$link: rgb(37, 26, 26);

body {
    font-family: Poppins, sans-serif;
    color: $primary-color;
    position: relative;
}
h2{
    font: 1.75rem;
}
h3{
    font-size: 1.3rem !important;
}
a{
    color: $primary-color;
    &:hover{
        color: $a_hover;
    }
}
.default-btn{
    border-radius: 17px !important;
    background-color: $primary-color;
    color: #fff;
    cursor: pointer !important;
    &:hover{
        background-color: $a_hover;
    }
}
.navbar-toggler-icon{
    i{
        color: #fff;
        font-size: 1.7rem;
    }
}
.my-bg{
    background-color: $primary-color;
}
.container-fluid{
    max-width: 1920px;
}
@media screen and (min-width: 1200px) {
    .container-padding{
        padding-left: 100px;
        padding-right: 100px;
    }
}
.about-us-social{
    span{
        margin-right: 10px;
        font-size: 1.3rem;
    }
    a{
        background-color: $primary-color;
        color: #fff !important;
        padding: 3px 8px;
        border-radius: 4px;
    }
}
.footer-social{
  @extend .about-us-social
}
.search-social-icons{
    background-color: $primary-color;
    .search-icon{
        cursor: pointer;
    }
    .separator{
        img{
            height: 42px;
        }
    }
    span{
        padding: 0 10px;
        color: #fff;
        font-size: 1.3rem;
    }
    a{
        background-color: #fff;
        padding: 2px 6px;
        border-radius: 4px;
    }
}
.main-search-box{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000c4;
    z-index: 9999999;
    .close{
        right: 5%;
        top: 10%;
        font-size: 3rem;
    }
    .main-search-inner{
        width: 100%;
        input{
            background-color: transparent;
            display: block;
            width: 100%;
            color: #fff;
            text-align: center;
            font-size: 2rem;
            border: none;
            border-bottom: 1px solid #fff;
            &:focus{
                outline: none;
            }
        }
    }
}
.top-bar-right{
    background-color: $primary-color;
    height: 100%;
    a{
        width: 100%;
        background-color: #fff;
        transition: transform .5s;
        &:hover{
            background-color: $primary-color;
            color: #fff !important;
            text-decoration: none;
            transform: translateY(10px);
        }
    }
}
.navbar{
    background-color: $primary-color;
.navbar-nav{
    .nav-item{
        .nav-link{
            color: #fff !important;
        }
        border-bottom: 3px solid transparent;
        &:hover{
            border-bottom: 3px solid $primary-color;
    }
    }
}
}
.header-video{
    video{
        width: 100%;
        height: auto;   
    }
}
#header-video{
     margin-top: -1px;
    // z-index: -1;
    .header-text{
        animation: headerText 1s linear;
        z-index: 1;
    }
    .signup-button{
        z-index: 1;
        a{
            color: #fff !important;
        }
    }
}
@keyframes headerText{
    from {
        row-gap: 100%;
        visibility: hidden;
        opacity: 0;
    }
    to {
        row-gap: 0;
        visibility: visible;
        opacity: 1;
    }
}
.client{
    animation: leftCenter 3s;
}
.employee{
    animation: rightCenter 3s;
}
@keyframes leftCenter{
    from{
        text-align: left;
    }
    to{
        text-align: center;
    }
}
@keyframes rightCenter{
    from{
        text-align: right;
    }
    to{
        text-align: center;
    }
}
.header-overlay{
    width: 100%;
    height: 100%;
    background: url(/dialectica/front/images/backwhite.png);
    top: 0;
    background-repeat: no-repeat;
    background-position: right -4%;
}
.header-video-overlay{
    width: 100%;
    height: 100%;
    background: url(/dialectica/front/images/top_blur-3.png);
    top: 0;
    background-position: left 100%;
    background-repeat: no-repeat;
}
.offer-card{
    .offer-img{
        max-height: 160px;
        overflow: hidden;
        img{
        object-fit: cover;
        object-position: top;
        }
    }
.offer-card-text{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #006D5B 37%, rgba(255, 255, 255, 0));
    .offer-card-text-content{
    left: 0;
    bottom: 0;
}
}
}
.who-we-are-gallery{
    .row{
        .col-sm-4{
            max-width: 200px;
        }
    }
}
// .who-we-are-gallery-image{
//     text-align: right;
//     img{
//         height: 200px;
//         object-fit: cover;
//     }
// }
@media screen and (min-width: 768px) and (max-width: 991px){
    .who-we-are-gallery{
        .row{
            .col-lg-3{
                &:nth-child(1n+5){
                    display: none !important;
                }
            }
        }
    }
}
.award-gallery{
    row-gap: 15px;
.award-img{
    width: auto;
    flex: 0 0 auto;
    img{
        max-height: 90px;
    }
}
}
.blog-excert{
    p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 42px;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
}
.footer-content{
    border-top: 1px solid $primary-color;
}