@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* line 7, ../../../Documents/GitHub/mrizwan1070.github.io/front/sass/site.scss */
body {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  background: url("/front/images/bg.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

/* line 15, ../../../Documents/GitHub/mrizwan1070.github.io/front/sass/site.scss */
h2 {
  font-size: 2.2rem;
}

/* line 19, ../../../Documents/GitHub/mrizwan1070.github.io/front/sass/site.scss */
a {
  color: #251a1a;
}

/* line 23, ../../../Documents/GitHub/mrizwan1070.github.io/front/sass/site.scss */
.nav-item > .active, .nav-item:hover .nav-link, .social-links .btn:hover, .p-info-icon:hover {
  background-image: linear-gradient(90deg, #e27b05 0%, #db0563 100%) !important;
  color: #fff !important;
}

/* line 38, ../../../Documents/GitHub/mrizwan1070.github.io/front/sass/site.scss */
.user-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}

/* line 44, ../../../Documents/GitHub/mrizwan1070.github.io/front/sass/site.scss */
.user-img img {
  object-fit: contain;
  object-position: top;
}

/* line 52, ../../../Documents/GitHub/mrizwan1070.github.io/front/sass/site.scss */
.social-links .btn:hover {
  transition: all 0s;
}

/* line 58, ../../../Documents/GitHub/mrizwan1070.github.io/front/sass/site.scss */
.my-rounded {
  border-radius: 1rem;
}

/* line 62, ../../../Documents/GitHub/mrizwan1070.github.io/front/sass/site.scss */
.tab-title h2 {
  position: relative;
}

/* line 65, ../../../Documents/GitHub/mrizwan1070.github.io/front/sass/site.scss */
.tab-title h2:after {
  content: "";
  width: 200px;
  height: 2px;
  background: red;
  position: absolute;
  top: 50%;
  left: calc(100% + 1rem);
}

/* line 77, ../../../Documents/GitHub/mrizwan1070.github.io/front/sass/site.scss */
.p-info-icon {
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
}

/* line 88, ../../../Documents/GitHub/mrizwan1070.github.io/front/sass/site.scss */
.my-services > .row {
  row-gap: 1rem;
}

/* line 93, ../../../Documents/GitHub/mrizwan1070.github.io/front/sass/site.scss */
.my-services .col-sm-6:nth-child(1) .service-detail {
  background-color: #FFEEEB;
}

/* line 96, ../../../Documents/GitHub/mrizwan1070.github.io/front/sass/site.scss */
.my-services .col-sm-6:nth-child(1) .service-detail .service-icon {
  color: #FF6347;
}

/* line 104, ../../../Documents/GitHub/mrizwan1070.github.io/front/sass/site.scss */
.my-services .col-sm-6:nth-child(2) .service-detail {
  background-color: #EBF5FF;
}

/* line 107, ../../../Documents/GitHub/mrizwan1070.github.io/front/sass/site.scss */
.my-services .col-sm-6:nth-child(2) .service-detail .service-icon {
  color: #1E90FF;
}

/* line 115, ../../../Documents/GitHub/mrizwan1070.github.io/front/sass/site.scss */
.my-services .col-sm-6:nth-child(3) .service-detail {
  background-color: #EFFBEF;
}

/* line 118, ../../../Documents/GitHub/mrizwan1070.github.io/front/sass/site.scss */
.my-services .col-sm-6:nth-child(3) .service-detail .service-icon {
  color: #32CD32;
}

/* line 126, ../../../Documents/GitHub/mrizwan1070.github.io/front/sass/site.scss */
.my-services .col-sm-6:nth-child(4) .service-detail {
  background-color: #fce7f9;
}

/* line 129, ../../../Documents/GitHub/mrizwan1070.github.io/front/sass/site.scss */
.my-services .col-sm-6:nth-child(4) .service-detail .service-icon {
  color: #e811f0;
}

/* line 135, ../../../Documents/GitHub/mrizwan1070.github.io/front/sass/site.scss */
.my-services .service-icon {
  font-size: 3.5rem;
  display: flex;
}

/* line 142, ../../../Documents/GitHub/mrizwan1070.github.io/front/sass/site.scss */
.edu-detail .row {
  row-gap: 1rem;
}

/* line 145, ../../../Documents/GitHub/mrizwan1070.github.io/front/sass/site.scss */
.edu-detail .col {
  background-color: #fce7f9;
}

/* line 150, ../../../Documents/GitHub/mrizwan1070.github.io/front/sass/site.scss */
.exp-detail .row {
  row-gap: 1rem;
}

/* line 153, ../../../Documents/GitHub/mrizwan1070.github.io/front/sass/site.scss */
.exp-detail .col {
  background-color: #EBF5FF;
}

/* line 158, ../../../Documents/GitHub/mrizwan1070.github.io/front/sass/site.scss */
.edu-title .fa-solid {
  color: #e811f0;
}

/* line 163, ../../../Documents/GitHub/mrizwan1070.github.io/front/sass/site.scss */
.exp-title .fa-solid {
  color: #1E90FF;
}

/*# sourceMappingURL=site.css.map */